.body{
    background: rgba(0, 0, 0, 0.908);
    color: white;
}
.bodyContent{
    padding: 60px;
}
.info{
    display: flex;
    align-items: center;
}
.info span{
    font-weight: 600;
}
#created_at{
    font-weight: 100;
    font-size: 10px;
}
.user_pic{
    border: 1px solid white;
    border-radius: 100%;
    padding: 2px;
    height: 40px;
    margin-right: 10px;
}
.actionButton{
    background: none;
    border: none;
}
.actionButton:hover{
    background: rgb(59, 59, 59);
    border-radius: 5px;
}
.action{
    display: flex;
    margin-left: auto;
}
.action img{
    height: 30px;
}
.post{
    display: flex;
    align-items: center;
}
.liPost{
    margin-bottom: 30px;
    background: rgb(41, 41, 41);
    padding: 20px;
    border-radius: 10px;
    list-style: none;
}
.liPost a{
    text-decoration: none;
    color: white;
}
.postImg{
    width: 100%;
    border-radius: 10px;
}
.navBar{
    position: fixed;
    width: 100%;
    background: rgb(41, 41, 41);
    align-items: center;
    display: flex;
}
.logoBar{
    display: flex;
}
.menuBar{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.searchInput{
    width: auto;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
.searchInput input{
    width: 100%;
    background: rgba(128, 128, 128, 0);
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.searchInput button{
    border-radius: 20px;
}