.info{
    display: flex;
    align-items: center;
}
.info span{
    font-weight: 600;
}
#created_at{
    font-weight: 100;
    font-size: 10px;
}
.user_pic{
    border: 1px solid white;
    border-radius: 100%;
    padding: 2px;
    height: 40px;
    margin-right: 10px;
}
.actionButton{
    background: none;
    border: none;
}
.actionButton:hover{
    background: rgb(59, 59, 59);
    border-radius: 5px;
}
.action{
    display: flex;
    margin-left: auto;
}
.action img{
    height: 30px;
}
.post{
    display: flex;
    align-items: center;
}
.liPost{
    margin-bottom: 30px;
}
.postImg{
    width: 100%;
    border-radius: 10px;
}
.searchInput{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.searchInput input{
    width: 100%;
    background: rgba(128, 128, 128, 0);
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.searchInput button{
    border-radius: 20px;
}